body {
	font-size:12pt;
	background:#EEF2FF;
	color:#000000;
}
a       {
	background:inherit;
	color:#34345C;
	text-decoration:none;
	font-family:sans-serif;
}
a:visited {
	background:inherit;
	color:#34345C;
	text-decoration:none;
	font-family:sans-serif;
}
a:hover,.admddel,.admbban,.admppost,.admaacc {
	color:#DD0000 !important;
	background:inherit;
	text-decoration:underline;
	font-family:sans-serif;
}
.reflink, .reflink:visited {
	color:#000;
	text-decoration:none;
}
.reflink:hover {
	color:#2222CC;
	text-decoration:none;
}
img {
	margin: 4px 10px 10px 10px;
	border: 0;
	float: left;
	clear: none;
}
td {
	text-align: left;
}
.adminbar {
	text-align:right;
	background:inherit;
	/*clear:both;*/
	float:right;
}
.styles {
	float: left;
}
.logo {
	clear:both;
	text-align:center;
	background:inherit;
	font-size:24pt;
	color:#800000;
	width:100%;
}
.logo img {
	margin: 0 auto;
	clear:both;
	float:none;
}
.postblocktitle {
	background:#D6DAF0;
	color:#000;
	font-weight:800;
	text-align: center;
}
.footer {
	text-align:center;
	font-size:10px;
	font-family:sans-serif;
	margin-top: 45px;
}
.passvalid {
	background:#9988EE;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#0F8FE1;
	color:#000000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#9AD2F6;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.row2 {
	background:#FFFFFF;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.unkfunc {
	background:#C4C2EE;
	color:#FFFFFF;
}
.filesize {
	font-size:12px;
	font-family:sans-serif;
	text-decoration:underline;
	padding-right:10px;
	margin-left:10px;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.postername {
	background:inherit;
	font-size:12px;
	font-family:serif;
	color:#117743;
	font-weight:800;
}
.oldpost {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.omittedposts {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#070707;
	font-weight:800;
	margin-left:30px;
}
.reply {
	background:#D6DAF0;
	color:#000000;
	font-family:serif;
	min-width: 500px;
}
.doubledash {
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.commentpostername {
	background:inherit;
	font-size:12px;
	font-family:serif;
	color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	padding-right:5px;
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#000000;
}
.leftclear {
	clear: left;
}
.allclear {
	clear: all;
}
.nowrap {
	white-space: nowrap;
}
.centered {
	text-align: center;
}
.lefted {
	text-align: left;
}
.righted {
	text-align: right;
	float: right;
}
.manabuttons{
	text-align:center;
	padding-top:6px;
}
.catthread{
	display:inline-block;
	float: none;
	max-width:160px;
	max-height:180px;
	width:160px;
	height:180px;
	border-color:#87d;
	border-style:solid;
	border-width:2px;
	text-align:center;
	font-size:12px;
	padding-top:10px;
	vertical-align:top;
	margin:2px;
}
.catthumb{
	max-width:160px;
	max-height:160px;
	width:auto;
	height:auto;
}
.cattitle,.cattitle:hover{
	text-decoration:none;
	font-size:12px;
}
.catthread img{
	max-height:40%;
	max-width:99%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	float: none !important;
}
.cattable{
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
#errormsg {
	color:red;
	text-align:center;
	font-size:20pt;
}
