body {
         font-size:12pt;
         background:#FFFFEE;
         color:#800000;
}
a       {
        background:inherit;
        color:#0000EE;
        text-decoration:underline;
        font-family:serif;
}
a:visited {
        background:inherit;
        color:#0000EE;
        text-decoration:underline;
        font-family:serif;
}
a:hover {
        color:#DD0000;
        background:inherit;
        text-decoration:underline;
        font-family:serif;
}
.adminbar {
        text-align:right;
        background:inherit;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        background:inherit;
        font-size:24pt;
        color:#800000;
        width:100%;
}
.theader {
        background:#0010E0;
        color:#FFFFFF;
        width:100%;
}
.postarea {
        background:inherit;
}
.rules {
        font-size:10px;
        font-family:sans-serif;
}
.postblock {
        background:#EEAA88;
        color:#800000;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:12px;
        font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#0F8FE1;
	color:#800000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#9AD2F6;
	font-family:sans-serif;
	font-size:12px;
	color:#800000;
}
.row2 {
        background:#FFFFFF;
        font-family:sans-serif;
        font-size:12px;
        color:#800000;
}
.unkfunc {
	background:inert;
	color:#789922;
}
.filesize {
	font-size:16px;
	font-family:serif;
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#CC1105;
	font-weight:800;
}
.postername {
	background:inherit;
	font-size:16px;
	font-family:serif;
	color:#117743;
	font-weight:800;}
.oldpost {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#CC1105;
        font-weight:800;
}
.omittedposts {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#070707;
        font-weight:800;
}
.reply {
	background:#F0E0D6;
	color:#800000;
	font-family:serif;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#CC1105;
        font-weight:800;
}
.commentpostername {
        background:inherit;
        font-size:16px;
        font-family:serif;
        color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#800000;
}
